{% extends "base.html" %}
{% block title %}index{% endblock %}
{% block content %}
{% load static %}


    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Welcome to your APCT Dashboard, User1</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>AIsle 1</strong>
                                        <span class="pull-right text-muted">40% Traffic</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 2</strong>
                                        <span class="pull-right text-muted">20% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                            <span class="sr-only">20% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 3</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 4</strong>
                                        <span class="pull-right text-muted">80% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Tasks</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Insights
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav in" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="flot.html">Flot Charts</a>
                                </li>
                                <li>
                                    <a href="morris.html">Morris.js Charts</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
				<a href="{% url 'addcamera' %}"><i class="fa fa-table fa-fw"></i>Tracking Camera</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-edit fa-fw"></i> Permissions</a>
                        </li>
                        <li class="">
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> Settings<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                                <li>
                                    <a href="#">Panels and Wells</a>
                                </li>
                                <li>
                                    <a href="#">Buttons</a>
                                </li>
                                <li>
                                    <a href="#">Notifications</a>
                                </li>
                                <li>
                                    <a href="#">Typography</a>
                                </li>
                                <li>
                                    <a href="#"> Icons</a>
                                </li>
                                <li>
                                    <a href="#">Grid</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>


                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper" style="min-height: 613px;">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-align-left fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">3</div>
                                    <div>New Customer Insights!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">12</div>
                                    <div>New Aisle Insights!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">124</div>
                                    <div>New Shoppers!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-video-camera fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">2</div>
                                    <div>Cameras Recording!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.row -->
          <div class="row">
                <div class="col-lg-8">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Traffic heat map
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="chartdiv" style="position: relative; witdh:100%; height:500px;"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Time  vs customer-traffic Line Graph
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="myfirstchart" style="position: relative;"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Max Traffic times
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-4">
                                      
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Product Name</th>
                                                    <th>Date</th>
                                                    <th>Time</th>
                                                    <th>Max Customer Count</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Flour</td>
                                                    <td>10/21/2013</td>
                                                    <td>3:29 PM</td>
                                                    <td>15</td>
                                                </tr>
                                                <tr>
                                                    <td>Sugar</td>
                                                    <td>10/21/2013</td>
                                                    <td>3:20 PM</td>
                                                    <td>25</td>
                                                </tr>
                                                <tr>
                                                    <td>Spices</td>
                                                    <td>10/21/2013</td>
                                                    <td>3:03 PM</td>
                                                    <td>24</td>
                                                </tr>
                                                <tr>
                                                    <td>Icing</td>
                                                    <td>10/21/2013</td>
                                                    <td>3:00 PM</td>
                                                    <td>33</td>
                                                </tr>
                                                <tr>
                                                    <td>Cake mix</td>
                                                    <td>10/21/2013</td>
                                                    <td>2:49 PM</td>
                                                    <td>55</td>
                                                </tr>
                                                <tr>
                                                    <td>Fruits</td>
                                                    <td>10/21/2013</td>
                                                    <td>2:23 PM</td>
                                                    <td>12</td>
                                                </tr>
                                                <tr>
                                                    <td>Baking Soda</td>
                                                    <td>10/21/2013</td>
                                                    <td>2:15 PM</td>
                                                    <td>54</td>
                                                </tr>
                                                <tr>
                                                    <td>Dry friuts</td>
                                                    <td>10/21/2013</td>
                                                    <td>2:13 PM</td>
                                                    <td>3</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.col-lg-4 (nested) -->
                                <div class="col-lg-8">
                                    <div id="bar-example" style="position: relative;"></div>
                                </div>
                                <!-- /.col-lg-8 (nested) -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel start here resp timme linbne -->

                        <!-- /.panel-heading -->

                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                
                <!-- /.col-lg-8 -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Aisle Heat Map
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
				<img src="https://i.ibb.co/cgC5tFv/1.jpg"></img>

                            <!-- /.list-group pic here-->
                            <a href="#" class="btn btn-default btn-block">Go to Stream</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Aisle Heat Map
                        </div>
                        <div class="panel-body">
				<img src="https://i.ibb.co/NnNXMCS/2.jpg"></img>
                            <a href="#" class="btn btn-default btn-block">Aisle Heat Map</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="chat-panel panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-comments fa-fw"></i> Chat
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-chevron-down"></i>
                                </button>
                                <ul class="dropdown-menu slidedown">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-refresh fa-fw"></i> Refresh
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-check-circle fa-fw"></i> Available
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-times fa-fw"></i> Busy
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-clock-o fa-fw"></i> Away
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-sign-out fa-fw"></i> Sign Out
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                        <!-- /.panel-footer -->
                    </div>
                    <!-- /.panel .chat-panel -->
                </div>
                <
		!-- /.col-lg-4 -->
		</div>
            </div>
            </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/raphael/raphael.min.js"></script>
    <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/morrisjs/morris.min.js"></script>
    <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/data/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/material.js"></script>
    <script src="https://www.amcharts.com/lib/4/lang/de_DE.js"></script>
    <script src="https://www.amcharts.com/lib/4/geodata/germanyLow.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/spiritedaway.js"></script>

    <script>
// Themes begin
am4core.useTheme(am4themes_spiritedaway);
// Themes end

var chart = am4core.create("chartdiv", am4charts.XYChart);
chart.maskBullets = false;

var xAxis = chart.xAxes.push(new am4charts.CategoryAxis());
var yAxis = chart.yAxes.push(new am4charts.CategoryAxis());

xAxis.dataFields.category = "weekday";
yAxis.dataFields.category = "hour";

xAxis.renderer.grid.template.disabled = true;
xAxis.renderer.minGridDistance = 40;

yAxis.renderer.grid.template.disabled = true;
yAxis.renderer.inversed = true;
yAxis.renderer.minGridDistance = 30;

var series = chart.series.push(new am4charts.ColumnSeries());
series.dataFields.categoryX = "weekday";
series.dataFields.categoryY = "hour";
series.dataFields.value = "value";
series.sequencedInterpolation = true;
series.defaultState.transitionDuration = 3000;

var bgColor = new am4core.InterfaceColorSet().getFor("background");

var columnTemplate = series.columns.template;
columnTemplate.strokeWidth = 1;
columnTemplate.strokeOpacity = 0.2;
columnTemplate.stroke = bgColor;
columnTemplate.tooltipText = "{weekday}, {hour}: {value.workingValue.formatNumber('#.')}";
columnTemplate.width = am4core.percent(100);
columnTemplate.height = am4core.percent(100);

series.heatRules.push({
  target: columnTemplate,
  property: "fill",
  min: am4core.color(bgColor),
  max: chart.colors.getIndex(0)
});

// heat legend
var heatLegend = chart.bottomAxesContainer.createChild(am4charts.HeatLegend);
heatLegend.width = am4core.percent(100);
heatLegend.minValue = 0;
heatLegend.maxValue = 200;
heatLegend.series = series;
heatLegend.valueAxis.renderer.labels.template.fontSize = 9;
heatLegend.valueAxis.renderer.minGridDistance = 30;

// heat legend behavior
series.columns.template.events.on("over", (event) => {
  handleHover(event.target);
})

series.columns.template.events.on("hit", (event) => {
  handleHover(event.target);
})

function handleHover(column) {
  if (!isNaN(column.dataItem.value)) {
    heatLegend.valueAxis.showTooltipAt(column.dataItem.value)
  }
  else {
    heatLegend.valueAxis.hideTooltip();
  }
}

series.columns.template.events.on("out", (event) => {
  heatLegend.valueAxis.hideTooltip();
})

chart.data = [
  {
    "hour": "12pm",
    "weekday": "Sun",
    "value": 11
  },
  {
    "hour": "1am",
    "weekday": "Sun",
    "value": 0
  },
  {
    "hour": "2am",
    "weekday": "Sun",
    "value": 0
  },
  {
    "hour": "3am",
    "weekday": "Sun",
    "value": 0
  },
  {
    "hour": "4am",
    "weekday": "Sun",
    "value": 3
  },
  {
    "hour": "5am",
    "weekday": "Sun",
    "value": 20
  },
  {
    "hour": "6am",
    "weekday": "Sun",
    "value": 21
  },
  {
    "hour": "7am",
    "weekday": "Sun",
    "value": 22
  },
  {
    "hour": "8am",
    "weekday": "Sun",
    "value": 24
  },
  {
    "hour": "9am",
    "weekday": "Sun",
    "value": 27
  },
  {
    "hour": "10am",
    "weekday": "Sun",
    "value": 29
  },
  {
    "hour": "11am",
    "weekday": "Sun",
    "value": 30
  },
  {
    "hour": "12am",
    "weekday": "Sun",
    "value": 31
  },
  {
    "hour": "1pm",
    "weekday": "Sun",
    "value": 31
  },
  {
    "hour": "2pm",
    "weekday": "Sun",
    "value": 33
  },
  {
    "hour": "3pm",
    "weekday": "Sun",
    "value": 34
  },
  {
    "hour": "4pm",
    "weekday": "Sun",
    "value": 37
  },
  {
    "hour": "5pm",
    "weekday": "Sun",
    "value": 36
  },
  {
    "hour": "6pm",
    "weekday": "Sun",
    "value": 36
  },
  {
    "hour": "7pm",
    "weekday": "Sun",
    "value": 32
  },
  {
    "hour": "8pm",
    "weekday": "Sun",
    "value": 32
  },
  {
    "hour": "9pm",
    "weekday": "Sun",
    "value": 33
  },
  {
    "hour": "10pm",
    "weekday": "Sun",
    "value": 34
  },
  {
    "hour": "11pm",
    "weekday": "Sun",
    "value": 33
  },
  {
    "hour": "12pm",
    "weekday": "Mon",
    "value": 33
  },
  {
    "hour": "1am",
    "weekday": "Mon",
    "value": 27
  },
  {
    "hour": "2am",
    "weekday": "Mon",
    "value": 3052
  },
  {
    "hour": "3am",
    "weekday": "Mon",
    "value": 3876
  },
  {
    "hour": "4am",
    "weekday": "Mon",
    "value": 4453
  },
  {
    "hour": "5am",
    "weekday": "Mon",
    "value": 3972
  },
  {
    "hour": "6am",
    "weekday": "Mon",
    "value": 4644
  },
  {
    "hour": "7am",
    "weekday": "Mon",
    "value": 5715
  },
  {
    "hour": "8am",
    "weekday": "Mon",
    "value": 7080
  },
  {
    "hour": "9am",
    "weekday": "Mon",
    "value": 8022
  },
  {
    "hour": "10am",
    "weekday": "Mon",
    "value": 8446
  },
  {
    "hour": "11am",
    "weekday": "Mon",
    "value": 9313
  },
  {
    "hour": "12am",
    "weekday": "Mon",
    "value": 9011
  },
  {
    "hour": "1pm",
    "weekday": "Mon",
    "value": 8508
  },
  {
    "hour": "2pm",
    "weekday": "Mon",
    "value": 8515
  },
  {
    "hour": "3pm",
    "weekday": "Mon",
    "value": 8399
  },
  {
    "hour": "4pm",
    "weekday": "Mon",
    "value": 8649
  },
  {
    "hour": "5pm",
    "weekday": "Mon",
    "value": 7869
  },
  {
    "hour": "6pm",
    "weekday": "Mon",
    "value": 6933
  },
  {
    "hour": "7pm",
    "weekday": "Mon",
    "value": 5969
  },
  {
    "hour": "8pm",
    "weekday": "Mon",
    "value": 5552
  },
  {
    "hour": "9pm",
    "weekday": "Mon",
    "value": 5434
  },
  {
    "hour": "10pm",
    "weekday": "Mon",
    "value": 5070
  },
  {
    "hour": "11pm",
    "weekday": "Mon",
    "value": 4851
  },
  {
    "hour": "12pm",
    "weekday": "Tue",
    "value": 4468
  },
  {
    "hour": "1am",
    "weekday": "Tue",
    "value": 3306
  },
  {
    "hour": "2am",
    "weekday": "Tue",
    "value": 3906
  },
  {
    "hour": "3am",
    "weekday": "Tue",
    "value": 4413
  },
  {
    "hour": "4am",
    "weekday": "Tue",
    "value": 4726
  },
  {
    "hour": "5am",
    "weekday": "Tue",
    "value": 4584
  },
  {
    "hour": "6am",
    "weekday": "Tue",
    "value": 5717
  },
  {
    "hour": "7am",
    "weekday": "Tue",
    "value": 6504
  },
  {
    "hour": "8am",
    "weekday": "Tue",
    "value": 8104
  },
  {
    "hour": "9am",
    "weekday": "Tue",
    "value": 8813
  },
  {
    "hour": "10am",
    "weekday": "Tue",
    "value": 9278
  },
  {
    "hour": "11am",
    "weekday": "Tue",
    "value": 10425
  },
  {
    "hour": "12am",
    "weekday": "Tue",
    "value": 10137
  },
  {
    "hour": "1pm",
    "weekday": "Tue",
    "value": 9290
  },
  {
    "hour": "2pm",
    "weekday": "Tue",
    "value": 9255
  },
  {
    "hour": "3pm",
    "weekday": "Tue",
    "value": 9614
  },
  {
    "hour": "4pm",
    "weekday": "Tue",
    "value": 9713
  },
  {
    "hour": "5pm",
    "weekday": "Tue",
    "value": 9667
  },
  {
    "hour": "6pm",
    "weekday": "Tue",
    "value": 8774
  },
  {
    "hour": "7pm",
    "weekday": "Tue",
    "value": 8649
  },
  {
    "hour": "8pm",
    "weekday": "Tue",
    "value": 9937
  },
  {
    "hour": "9pm",
    "weekday": "Tue",
    "value": 10286
  },
  {
    "hour": "10pm",
    "weekday": "Tue",
    "value": 9175
  },
  {
    "hour": "11pm",
    "weekday": "Tue",
    "value": 8581
  },
  {
    "hour": "12pm",
    "weekday": "Wed",
    "value": 8145
  },
  {
    "hour": "1am",
    "weekday": "Wed",
    "value": 7177
  },
  {
    "hour": "2am",
    "weekday": "Wed",
    "value": 5657
  },
  {
    "hour": "3am",
    "weekday": "Wed",
    "value": 6802
  },
  {
    "hour": "4am",
    "weekday": "Wed",
    "value": 8159
  },
  {
    "hour": "5am",
    "weekday": "Wed",
    "value": 8449
  },
  {
    "hour": "6am",
    "weekday": "Wed",
    "value": 9453
  },
  {
    "hour": "7am",
    "weekday": "Wed",
    "value": 9947
  },
  {
    "hour": "8am",
    "weekday": "Wed",
    "value": 11471
  },
  {
    "hour": "9am",
    "weekday": "Wed",
    "value": 12492
  },
  {
    "hour": "10am",
    "weekday": "Wed",
    "value": 9388
  },
  {
    "hour": "11am",
    "weekday": "Wed",
    "value": 9928
  },
  {
    "hour": "12am",
    "weekday": "Wed",
    "value": 9644
  },
  {
    "hour": "1pm",
    "weekday": "Wed",
    "value": 9034
  },
  {
    "hour": "2pm",
    "weekday": "Wed",
    "value": 8964
  },
  {
    "hour": "3pm",
    "weekday": "Wed",
    "value": 9069
  },
  {
    "hour": "4pm",
    "weekday": "Wed",
    "value": 8898
  },
  {
    "hour": "5pm",
    "weekday": "Wed",
    "value": 8322
  },
  {
    "hour": "6pm",
    "weekday": "Wed",
    "value": 6909
  },
  {
    "hour": "7pm",
    "weekday": "Wed",
    "value": 5810
  },
  {
    "hour": "8pm",
    "weekday": "Wed",
    "value": 5151
  },
  {
    "hour": "9pm",
    "weekday": "Wed",
    "value": 4911
  },
  {
    "hour": "10pm",
    "weekday": "Wed",
    "value": 4487
  },
  {
    "hour": "11pm",
    "weekday": "Wed",
    "value": 4118
  },
  {
    "hour": "12pm",
    "weekday": "Thu",
    "value": 3689
  },
  {
    "hour": "1am",
    "weekday": "Thu",
    "value": 3081
  },
  {
    "hour": "2am",
    "weekday": "Thu",
    "value": 6525
  },
  {
    "hour": "3am",
    "weekday": "Thu",
    "value": 6228
  },
  {
    "hour": "4am",
    "weekday": "Thu",
    "value": 6917
  },
  {
    "hour": "5am",
    "weekday": "Thu",
    "value": 6568
  },
  {
    "hour": "6am",
    "weekday": "Thu",
    "value": 6405
  },
  {
    "hour": "7am",
    "weekday": "Thu",
    "value": 8106
  },
  {
    "hour": "8am",
    "weekday": "Thu",
    "value": 8542
  },
  {
    "hour": "9am",
    "weekday": "Thu",
    "value": 8501
  },
  {
    "hour": "10am",
    "weekday": "Thu",
    "value": 8802
  },
  {
    "hour": "11am",
    "weekday": "Thu",
    "value": 9420
  },
  {
    "hour": "12am",
    "weekday": "Thu",
    "value": 8966
  },
  {
    "hour": "1pm",
    "weekday": "Thu",
    "value": 8135
  },
  {
    "hour": "2pm",
    "weekday": "Thu",
    "value": 8224
  },
  {
    "hour": "3pm",
    "weekday": "Thu",
    "value": 8387
  },
  {
    "hour": "4pm",
    "weekday": "Thu",
    "value": 8218
  },
  {
    "hour": "5pm",
    "weekday": "Thu",
    "value": 7641
  },
  {
    "hour": "6pm",
    "weekday": "Thu",
    "value": 6469
  },
  {
    "hour": "7pm",
    "weekday": "Thu",
    "value": 5441
  },
  {
    "hour": "8pm",
    "weekday": "Thu",
    "value": 4952
  },
  {
    "hour": "9pm",
    "weekday": "Thu",
    "value": 4643
  },
  {
    "hour": "10pm",
    "weekday": "Thu",
    "value": 4393
  },
  {
    "hour": "11pm",
    "weekday": "Thu",
    "value": 4017
  },
  {
    "hour": "12pm",
    "weekday": "Fri",
    "value": 4022
  },
  {
    "hour": "1am",
    "weekday": "Fri",
    "value": 3063
  },
  {
    "hour": "2am",
    "weekday": "Fri",
    "value": 3638
  },
  {
    "hour": "3am",
    "weekday": "Fri",
    "value": 3968
  },
  {
    "hour": "4am",
    "weekday": "Fri",
    "value": 4070
  },
  {
    "hour": "5am",
    "weekday": "Fri",
    "value": 4019
  },
  {
    "hour": "6am",
    "weekday": "Fri",
    "value": 4548
  },
  {
    "hour": "7am",
    "weekday": "Fri",
    "value": 5465
  },
  {
    "hour": "8am",
    "weekday": "Fri",
    "value": 6909
  },
  {
    "hour": "9am",
    "weekday": "Fri",
    "value": 7706
  },
  {
    "hour": "10am",
    "weekday": "Fri",
    "value": 7867
  },
  {
    "hour": "11am",
    "weekday": "Fri",
    "value": 8615
  },
  {
    "hour": "12am",
    "weekday": "Fri",
    "value": 8218
  },
  {
    "hour": "1pm",
    "weekday": "Fri",
    "value": 7604
  },
  {
    "hour": "2pm",
    "weekday": "Fri",
    "value": 7429
  },
  {
    "hour": "3pm",
    "weekday": "Fri",
    "value": 7488
  },
  {
    "hour": "4pm",
    "weekday": "Fri",
    "value": 7493
  },
  {
    "hour": "5pm",
    "weekday": "Fri",
    "value": 6998
  },
  {
    "hour": "6pm",
    "weekday": "Fri",
    "value": 5941
  },
  {
    "hour": "7pm",
    "weekday": "Fri",
    "value": 5068
  },
  {
    "hour": "8pm",
    "weekday": "Fri",
    "value": 4636
  },
  {
    "hour": "9pm",
    "weekday": "Fri",
    "value": 4241
  },
  {
    "hour": "10pm",
    "weekday": "Fri",
    "value": 3858
  },
  {
    "hour": "11pm",
    "weekday": "Fri",
    "value": 3833
  },
  {
    "hour": "12pm",
    "weekday": "Sat",
    "value": 3503
  },
  {
    "hour": "1am",
    "weekday": "Sat",
    "value": 2842
  },
  {
    "hour": "2am",
    "weekday": "Sat",
    "value": 2808
  },
  {
    "hour": "3am",
    "weekday": "Sat",
    "value": 2399
  },
  {
    "hour": "4am",
    "weekday": "Sat",
    "value": 2280
  },
  {
    "hour": "5am",
    "weekday": "Sat",
    "value": 2139
  },
  {
    "hour": "6am",
    "weekday": "Sat",
    "value": 2527
  },
  {
    "hour": "7am",
    "weekday": "Sat",
    "value": 2940
  },
  {
    "hour": "8am",
    "weekday": "Sat",
    "value": 3066
  },
  {
    "hour": "9am",
    "weekday": "Sat",
    "value": 3494
  },
  {
    "hour": "10am",
    "weekday": "Sat",
    "value": 3287
  },
  {
    "hour": "11am",
    "weekday": "Sat",
    "value": 3416
  },
  {
    "hour": "12am",
    "weekday": "Sat",
    "value": 3432
  },
  {
    "hour": "1pm",
    "weekday": "Sat",
    "value": 3523
  },
  {
    "hour": "2pm",
    "weekday": "Sat",
    "value": 3542
  },
  {
    "hour": "3pm",
    "weekday": "Sat",
    "value": 3347
  },
  {
    "hour": "4pm",
    "weekday": "Sat",
    "value": 3292
  },
  {
    "hour": "5pm",
    "weekday": "Sat",
    "value": 3416
  },
  {
    "hour": "6pm",
    "weekday": "Sat",
    "value": 3131
  },
  {
    "hour": "7pm",
    "weekday": "Sat",
    "value": 3057
  },
  {
    "hour": "8pm",
    "weekday": "Sat",
    "value": 3227
  },
  {
    "hour": "9pm",
    "weekday": "Sat",
    "value": 3060
  },
  {
    "hour": "10pm",
    "weekday": "Sat",
    "value": 2855
  },
  {
    "hour": "11pm",
    "weekday": "Sat",
    "value": 2625
  }
];
</script>

    <script>
      new Morris.Line({
  // ID of the element in which to draw the chart.
  element: 'myfirstchart',
  // Chart data records -- each entry in this array corresponds to a point on
  // the chart.
  data: [
    { time: '10', people: 5 },
    { time: '12', people: 2 },
    { time: '14', people: 10 },
    { time: '16', people: 15 },
    { time: '18', people: 10 }
  ],
  // The name of the data record attribute that contains x-values.
  xkey: 'time',
  // A list of names of data record attributes that contain y-values.
  ykeys: ['people'],
  // Labels for the ykeys -- will be displayed when you hover over the
  // chart.
  labels: ['People']
});
    </script>

<Script>
Morris.Bar({
  element: 'bar-example',
  data: [
    { y: 'Sun', a: 10, b: 9 },
    { y: 'Mon', a: 7,  b: 6 },
    { y: 'Tue', a: 5,  b: 4 },
    { y: 'Wed', a: 7,  b: 6 },
    { y: 'Thur', a: 5,  b: 4 },
    { y: 'Fri', a: 7,  b: 6 },
    { y: 'Sat', a: 10, b: 9 }
  ],
  xkey: 'y',
  ykeys: ['a', 'b'],
  labels: ['Sugar', 'Cake Mix']
});
</script>





{% endblock %}
